body{
    background-color: whitesmoke;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white ;
    margin: 5px;
    
    
}
#leftside{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    height: 50px;
    width: 50px;
}
#rightside{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    
}
#icon1{
    display: flex;
    align-items: center;
}

#my{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5%;
}
#left{
    display: flex;
    flex-direction: column;
    align-items: left;
    float: left;
    width: 19%;
    padding: 2%;
    background-color: white;
    margin: 5px;
}
h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h4{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h5{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: gray;
    font-style: italic;
}
#box{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

#Contact{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#About-Me{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


i{
    padding-right: 10px;
}

#id{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#E{
    float: right;
    width: 70%;
    padding: 2%;
    margin: 4px;
    background-color: white;
    
}

table{
    width: 100%;
    
}
th {
    text-align: left;
  }

@media screen and (max-width: 900px){
    #left{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 95%;
        padding: 2%;
        background-color: white;
        
    }
    #rightside{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        
    }
    #right{
        display: flex;
        flex-direction: column;
        float: right;
        width: 100%;
    }
    #E{
        display: flex;
        flex-direction: column;
        padding: 2%;
        float: left;
        background-color: white;
        width: 95%;
        
    }
  }
